
/* Google Font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

/* common colors */

body {
    background-color:#0091ce;
    color:#fff;
}

.section-bg-grey {
    background-color: #bebec0;
    color: #000;
}

.section-bg-white {
    background-color: #fff;
    color: #000;
}

a {
    color:#fff;
}
